:root {
    --grey:#545454;
    --dark-green:#213E3C;
    --green:#405452;

}




html {
    box-sizing: border-box;
    font-size: 100%;
}


* {
    
    

}

header {

}

body {

}

.leahanderson {

}

.navlist {

}

.navlist li {
    list-style-type: none;

}






