:root {
    --grey:#545454;
    --dark-green:#213E3C;
    --green:#405452;

}




html {
    box-sizing: border-box;
    font-size: 100%;
    
}


* {
    margin: 0%;
    padding: 0%;
    

    
    

}

body {
    color: aliceblue;
}

header {
    display:flex;
    background-color: #84aeac;
    justify-content: space-between;
    align-items: flex-end;
    height: 100px;
    background-image: 
    

}

h1 {
    display:flex;
    margin:0%;

}



.name {
    
    
    

}

nav {
    
    
    
      
    
}

.navlist {
    
    
    
    
    

}

.navlist ul {
    
}

.navlist li {
    list-style-type: none;
    display: inline;
    


}

main {
    display: block;
    height: 700px;

}





    


#aboutme{
    background-color: #405452;
    height: 50px;


}

#work{
    background-color: #405452;
    height: 650px;
    
    

}

#work div {
    
}

.container{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    

}



.box {
    background-color: rgb(169, 109, 180);
    height: 225px;
    margin-right: 25px;
    margin-left:25px;
    margin-top: 50px;
    flex:30%;
      
}



footer {
    background-color: #213E3C;
    display:flex;
    
    
}

@media screen and (max-width: 800px) {
    .box {flex: 20%;}
    .container {flex-wrap: wrap;}
    .box {background-color: aqua;}
    
    
    

}



